

.audioComponent,
.videoComponent,
.iframeComponent {
    display: flex;
}


video {
  max-width: 100%;
}


.link {
    display: flex;
    cursor: pointer;
    font-family: 'ClanforLBBW-Book';
    color: #0000ff;
}
