header {
  display: flex;
  justify-content: center;
  height: 125px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding: 30px 90px;
  /* -ms-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  -o-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);
  box-shadow: 15px 5px 30px 1px rgba(0, 0, 0, 0.31);   */
}

ul {
  list-style-position: inside;
}

.description ul {
  margin-top: -25px;

}

.editMode header {
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

header .logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 2px;
}

header .logo a {
  display: flex;
  width: 220px;
}

.rightHeader {
  display: flex;
  align-items: center;
  gap: 25px;
}

.rightHeader .userLinks {
  display: flex;
  gap: 20px;
}

.rightHeader .userLinks a {
  display: flex;
  text-decoration: none;
}



.rightHeader .headerSearch {
  align-self: center;
  height: 34px;
  position: relative;
}

.headerSearch .searchError {
  position: absolute;
  top: 34px;  
  padding: 4px 0px;  
  font-family: 'ClanforLBBW-Book';
  font-size: 10px;  
  line-height: 14px;
  color: #eb4b50;
}

.rightHeader .logout div {
  font-size: 22px;
  padding: 5px 8px 5px 8px;
  width: 38px;
  height: 34px;
}

.rightHeader .logout div a {
  color: #fff;
}
.rightHeader .logout div a:hover {
  color: #fff;
}

.headerSearch input.searchInput {
  padding: 0px 10px 0px;
  width: 163px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #575757;
  font-family: 'ClanforLBBW-Book';
}

input.searchInput[type="text"] {
  font-size: 13px;
}

input.searchInput::placeholder {
  color: #ccc;
  font-size: 13px;
}

input.searchInput:focus {
  border-color: #7091a7;
  outline: 0;
}

.headerSearch button {
  background-color: #123250;
  border: 1px solid #123250;
  color: #fff;
  cursor: pointer;
  padding: 6px 8px;
  width: 38px;
  font-size: 20px;
}

.topNav {
  position: relative;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 99999;
  background-color: #ffffff;
  top: 115px;
}

.editMode .topNav {
  position: relative;
  top: 0 !important;
}

.topNav .menus {
  display: flex;
  list-style: none;
}

.topNav .menus .dropdown {
  width: calc(100% - 180px);
  flex-direction: column;
  margin: 0 90px;
}

/* Cheat */
/* .menu-item.level-0 > button a {
  font-weight: 700;
}

.menu-item.level-0:hover > button a {
    color: #fff;
    background-color: #7091a7;
} */

.topNav .menu-item.level-0 {
  position: relative;
  line-height: unset;
}

.menu-item.level-1 > button a {
  /* font-weight: 700; */
  width: 100%;
}

.pageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 160px;
  min-height: calc(100vh - 160px);
}

.homePage {
  min-height: calc(100vh - 160px);
  background-image: url("../images/home/home_background.jpg");
  background-position: center;
  background-size: cover;
}

.contentPage {
  min-height: calc(100vh - 160px);
  background-image: url("../images/home/home_background.jpg");
  background-position: center;
  background-size: cover;
}

.editMode .pageContainer {
  top: 0 !important;
}

.configComponentsPage {
  max-width: 1920px;
  background-color: rgb(255, 255, 255);
  padding: 50px 90px;
}


.mpSearchPage,
.w2pSearchPage {
  width: 100%;
}

div.linkComponent {
  max-width: 100%;
  min-width: unset;
}

.corporateIdentityColors {
  max-width: 100%;
}

footer .footer {
  background-color: #000;
  padding: 45px 90px 22px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'TitilliumWebLight';
}

footer {
  color: #fff;
  display: flex;
  flex-direction: column;
}

footer .links {
  display: flex;
  padding: 60px 90px;
  background-image: url(../images/home/footer-bg.jpg);
}

footer .links > div {
  padding: 0 15px;
  width: 150px;
  display: flex;
  flex-direction: column;
}

footer .links a {
  font-family: 'TitilliumWebLight';
  color: #ffffff;
  font-size: 12px;
  padding-bottom: 8px;
}

footer .links .heading {
  color: #ffffff;
  font-size: 18px;
  font-family: TitilliumWebLight;
  padding-bottom: 20px;
}


/* Mozila Firefox Fixes */
h1 {
  display: flex;
}


/* .description * {
  color: inherit;
} */


/* .leftNavPage {
  width: 1300px;
} */

.leftNavPage .leftHandNav {
  height: calc(100vh - 160px);
  bottom: 0px;
}

.leftNavPage .rightMainContent {
  min-height: calc(100vh - 160px);
  position: relative;
  left: 400px;
}

.leftHandNav ul.menus {
  max-height: 100%;
}

.leftHandNav .menu-item.level-1.active .dropdown {
  display: block;
}

.leftHandNav .menu-item.level-0 > button {
  display: none;
}


/* Bitzet custom li markers */

/* .description li {
  margin-left: 18px;
}

.description ul li {
  list-style-type: "// ";
} */


/* Responsive Global */
/* @media only screen and (max-width: 1440px) {

  .bannerSection .headline {
    padding-left: 90px !important;
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .bannerSection .span {
    height: 35px !important;
  }

  .bannerSection .description {
    padding-left: 90px !important;
    padding-bottom: 50px !important;
    width: 62% !important;
  }

  .bannerSection .imageTeaserComponent {
    height: 500px !important;
  }

  .bannerSection .imageTeaser {
    height: 500px !important;
  }

  .mainSection {padding-left: 90px !important;padding-right: 170px !important;}



  .rightHeader {
    padding-bottom: 12px !important;
  }

  .rightHeader .settings {
    height: 20px !important;
  }

  .rightHeader svg {
    height: 20px !important;
    width: 20px !important;
  }

  .rightHeader .faqPage a {
    font-size: 18px !important;
    line-height: 20px !important;
  }





  .level-0 > button > a {
    padding-bottom: 24px !important;
    font-size: 18px !important;
    line-height: 18px !important;
  }



  .leftNavPage .leftHandNav {
    height: calc(100vh - 148px) !important;
  }

  .leftNavPage .leftHandNav, .pageContainer {
    min-height: calc(100vh - 148px) !important;
    top: 148px !important;
  }

} */

body {
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

table td {
  padding: 10px;
  font-family: 'TitilliumWebRegular';
}

table td strong {
  font-family: 'TitilliumWebBold';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.breadcrumb {
  padding: 30px 120px;
  display: flex;
}

.breadcrumb a {
  color: #124A7E;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  font-family: 'TitilliumWebLight';
}

.breadcrumb a:hover {
  color: #ab0032;
}

.breadcrumb svg {
  margin: 0 10px;
  font-size: 20px;
  color: #000;
}

.breadcrumb .lastItem {
  font-family: 'TitilliumWebRegular';
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #000;
}

.accordion .title.show {
  background-color: rgb(18, 50, 80) !important;
  color: rgb(255, 255, 255) !important;
}

.accordion .title.show svg {
  color: #fff !important;
}

.loginErrorMessage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loginErrorMessage p {
  font-family: ClanforLBBW-News, sans-serif;
  font-size: 16px;
}

.loginErrorMessage a {
  padding-top: 10px;
  font-size: 18px;
}

.rightHeader .languagesContainer {
  display: flex;
  gap: 8px;
  position: relative;
}

.rightHeader .languagesContainer span {
  font-family: ClanforLBBW-News;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #123250;
}

.rightHeader .languagesContainer svg {
  height: 18px;
  width: 16px;
  color: #123250;
}

.rightHeader .currentLanguage {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rightHeader .currentLanguage svg {
  cursor: pointer;
}

.rightHeader .languagesDropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 25px;
  background: #fff;
}

.rightHeader .languagesDropdown span {
  cursor: pointer;
}